.create__user{
    max-width: 800px;
    margin: 50px auto;


    & .role{
        // margin-top: 22px;
        margin-bottom: 13px;
    }

    & .radio__items{
        margin-top: 15px;
      
    }


}